<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Project používá výhradně veřejné balíčky z nuget.org.
         clear přebíjí případné nadřazené (user/machine) feedy. -->
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
